version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
    groups:
      babel:
        applies-to: version-updates
        patterns:
          - "@babel/*"
      prisma:
        applies-to: version-updates
        patterns:
          - "@prisma/client"
          - "prisma"
      storybook:
        applies-to: version-updates
        patterns:
          - "@storybook/*"
          - "storybook"
      tiptap:
        applies-to: version-updates
        patterns:
          - "@tiptap/*"
      trpc:
        applies-to: version-updates
        patterns:
          - "@trpc/*"
