version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
    versioning-strategy: increase
    open-pull-requests-limit: 5
    groups:
      aws-sdk:
        applies-to: version-updates
        patterns:
          - "@aws-sdk/*"
      babel:
        applies-to: version-updates
        patterns:
          - "@babel/*"
      lodash:
        applies-to: version-updates
        patterns:
          - "lodash"
          - "@types/lodash"
      pg:
        applies-to: version-updates
        patterns:
          - "pg"
          - "@types/pg"
      prisma:
        applies-to: version-updates
        patterns:
          - "@prisma/client"
          - "prisma"
      react:
        applies-to: version-updates
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
      react-query:
        applies-to: version-updates
        patterns:
          - "@tanstack/react-query"
          - "@tanstack/react-query-devtools"
      storybook:
        applies-to: version-updates
        patterns:
          - "@storybook/*"
          - "storybook"
      tiptap:
        applies-to: version-updates
        patterns:
          - "@tiptap/*"
      trpc:
        applies-to: version-updates
        patterns:
          - "@trpc/*"
      validator:
        applies-to: version-updates
        patterns:
          - "validator"
          - "@types/validator"
      jsonforms:
        applies-to: version-updates
        patterns:
          - "@jsonforms/core"
          - "@jsonforms/react"
