# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Database settings
# =================
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL=postgres://root:root@localhost:5432/app

# Auth settings
# =============
# Expiry time for OTP in seconds. Default is 600 seconds (10 minutes).
OTP_EXPIRY=600
# Secret to hash sessions. Can use https://1password.com/password-generator/ to generate a strong secret.
SESSION_SECRET=random_session_secret_that_is_at_least_32_characters

# Mail settings
# =============
POSTMAN_API_KEY=

# Assets upload settings
# =====================
NEXT_PUBLIC_S3_ASSETS_DOMAIN_NAME=user-content.example.com
NEXT_PUBLIC_S3_ASSETS_BUCKET_NAME=assets-bucket

# Singpass settings
# =================
# Login to the Singpass developer portal to retrieve the client ID
SINGPASS_CLIENT_ID=
SINGPASS_ISSUER_ENDPOINT=http://localhost:5156/singpass/v2
# Retrieve the actual private keys from the 1Password vault
SINGPASS_ENCRYPTION_PRIVATE_KEY=
SINGPASS_SIGNING_PRIVATE_KEY=

# Other settings
# ================
NEXT_PUBLIC_APP_NAME="Isomer Studio (EXAMPLE)"
# NEXT_PUBLIC_APP_URL= # Uncomment to set application URL
NEXT_PUBLIC_APP_ENV='development'

# Growthbook
GROWTHBOOK_CLIENT_KEY=xyz
