# dependencies
node_modules/

# testing
coverage

# next.js
.next/
out/

# production
build
!tooling/build

# misc
.DS_Store
*.pem

# debug
*.log

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Storybook logs
build-storybook.log

# Turbo repo logs
.turbo

# Build artifacts
dist/

# env file
.env
.env.local.*

# Compiled components package
**/*.tgz

.aider*
biome.json

storybook-static/
