@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Inject with storybook's theme manager instead of hardcoding here */
:root {
  --color-brand-canvas-default: #e6ecef;
  --color-brand-canvas-alt: #bfcfd7;
  --color-brand-canvas-backdrop: #80a0af;
  --color-brand-canvas-inverse: #00405f;
  --color-brand-interaction-default: #00405f;
  --color-brand-interaction-hover: #002e44;
  --color-brand-interaction-pressed: #00283b;
}

@layer base {
  html[data-theme="isomer-next"] {
    font-family: "Inter", system-ui, sans-serif;
  }

  html[data-theme="isomer-classic"] {
    font-family: "Lato", system-ui, sans-serif;
  }
}
