@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";
@import "./presets/classic.css";
@import "./presets/next/preset.css";
@import "./presets/next/inter-fonts.css";

/* Storybook-specific site color overrides */
@theme {
  --color-site-primary: #f78f1e;
  --color-site-primary-100: #fef4e8;
  --color-site-primary-200: #ffeec2;
  --color-site-secondary: #4e4541;
  --color-site-secondary-100: #f4f2f1;
}

/* TODO: Inject with storybook's theme manager instead of hardcoding here */
:root {
  --color-brand-canvas-default: #e6ecef;
  --color-brand-canvas-alt: #bfcfd7;
  --color-brand-canvas-backdrop: #80a0af;
  --color-brand-canvas-inverse: #00405f;
  --color-brand-interaction-default: #00405f;
  --color-brand-interaction-hover: #002e44;
  --color-brand-interaction-pressed: #00283b;
}

@layer base {
  html[data-theme="isomer-next"] {
    font-family: "Inter", system-ui, sans-serif;
  }
}
