# DB-related
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=5433
DB_NAME=

# Optional to set, default is false
# Set to true to print more debug logs
DEBUG=false

# SSM-related
AWS_PROFILE=
SSM_INSTANCE_TARGET=

# Searchsg-related
SEARCHSG_API_KEY="some nonsense string"
# Notification webhook settings
WEBHOOK_API_KEY=
STUDIO_SSM_WEBHOOK_API_KEY=

# eGazette settings
S3_GAZETTE_BUCKET_NAME=gazette-bucket
S3_GAZETTE_DOMAIN_NAME=gazette.example.com
EGAZETTE_DOCUMENT_INDEX=gazette-index

# Algolia settings (gazette document search ingestion)
ALGOLIA_APP_ID=
ALGOLIA_API_KEY=
ALGOLIA_INDEX_NAME=

S3_STUDIO_ASSETS_BUCKET_NAME=
