vars {
  baseUrl: https://api.services.search.gov.sg/admin
  userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) isomer
  siteClientId:
  appId:
  projectId:
}
vars:secret [
  searchsgApiKey
]
