# Staging / UAT / prod RDS use IAM auth. A token is generated at connect time
# against the real RDS host/port. TCP goes through `pnpm run db:connect`,
# `db:connect:staging`, or `db:connect:uat` (localhost tunnel), same as TablePlus.

LOCAL_DB_USERNAME=local_user
LOCAL_DB_PASSWORD=
LOCAL_DB_HOST=localhost
LOCAL_DB_PORT=5432
LOCAL_DB_NAME=isomer_studio
LOCAL_PUBLISHER_USER_ID=aaa

STAGING_AWS_PROFILE=isomer-staging
STAGING_AWS_S3_ASSETS_BUCKET_NAME=
STAGING_DB_HOST=isomer-next-infra-stg-rds-cluster.cluster-xxxx.ap-southeast-1.rds.amazonaws.com # pls update this
STAGING_DB_PORT=5432
STAGING_DB_USERNAME=username_rw # pls update this
STAGING_DB_NAME=isomer_studio # pls update this
STAGING_DB_REGION=ap-southeast-1
STAGING_DB_TUNNEL_HOST=127.0.0.1
STAGING_DB_TUNNEL_PORT=5433
STAGING_PUBLISHER_USER_ID=aaa

UAT_AWS_PROFILE=isomer-uat
UAT_AWS_S3_ASSETS_BUCKET_NAME=
UAT_DB_HOST=isomer-next-infra-uat-rds-cluster.cluster-xxxx.ap-southeast-1.rds.amazonaws.com # pls update this
UAT_DB_PORT=5432
UAT_DB_USERNAME=username_rw # pls update this
UAT_DB_NAME=isomer_next_infra_uat
UAT_DB_REGION=ap-southeast-1
UAT_DB_TUNNEL_HOST=127.0.0.1
UAT_DB_TUNNEL_PORT=5433
UAT_PUBLISHER_USER_ID=aaa # pls update this

PROD_AWS_PROFILE=isomer-production
PROD_AWS_S3_ASSETS_BUCKET_NAME=
PROD_DB_HOST=isomer-next-infra-prod-rds-cluster.cluster-xxxx.ap-southeast-1.rds.amazonaws.com # pls update this
PROD_DB_PORT=5432
PROD_DB_USERNAME=username_rw # pls update this
PROD_DB_NAME=isomer_next_infra_prod
PROD_DB_REGION=ap-southeast-1
PROD_DB_TUNNEL_HOST=127.0.0.1
PROD_DB_TUNNEL_PORT=5433
PROD_PUBLISHER_USER_ID=aaa # pls update this
