name: Deploy to staging

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - staging

# NOTE: This is actually using our federated isomer-staging account
jobs:
  deploy_staging:
    name: Deploy app to staging
    uses: ./.github/workflows/aws_deploy.yml
    # NOTE: deploy in `staging` env to set env specific secrets
    with:
      aws-region: "ap-southeast-1"
      aws-account-id: 058264420411
      cicd-role: "arn:aws:iam::058264420411:role/isomer-next-infra-github-oidc-role-aaefdfd"
      ecr-repository: "isomer-next-infra-stg-ecr"
      ecs-cluster-name: "isomer-next-infra-ecs"
      ecs-service-name: "isomer-next-infra-ecs-service"
      ecs-container-name: "studio"
      ecs-container-port: 3000
      environment: "staging"
      shortEnv: "stg"
      codedeploy-appspec-path: .aws/deploy/appspec.json
      ecs-task-definition-path: .aws/deploy/task-definition.json
      codedeploy-application: "isomer-next-infra-ecs-app"
      codedeploy-deployment-group: "isomer-next-infra-ecs-dg"

    secrets:
      DD_API_KEY: ${{ secrets.DD_API_KEY_GITHUB_ACTIONS }}
      RDS_READER_ENDPOINT: ${{ secrets.RDS_READER_ENDPOINT }}
